.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  font-size: calc(20px + 6 * ((100vw - 325px) / 200));
}

.backToHome {
  margin: 3rem 0 0;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
